*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p {text-align: center}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(background.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
nav .logo img{
    width: 60px;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
nav:hover{
    background: #fff;
}
nav:hover .logo{
    color: #333;
}
nav:hover ul li a{
    color: #333;
}
.content{
    margin-top: 9%;
    margin-left: 9%;
    color: #fff;
}
.content h1{
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
}
.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}
.links{
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.btn{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
}
.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.slide-left{
    animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
}
body {
    background-color: #6a6767;

}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.radioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}
.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
.checkboxContainer{
    padding: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


input, textarea {
    outline: none;
}
input:focus,textarea:focus{
    box-shadow: 0 0 4px rgba(255,0,0,0.5);
}
:required {
    border: 1px solid red;
}

:optional {
    border: 1px green;
}
input:invalid{
    border-color: #ff1361;
}
input:valid{
    border-color: green;
}
